grocery-subscription-app/frontend/node_modules
grocery-subscription-app/user-profile-service/node_modules
grocery-subscription-app/payment-service/node_modules
grocery-subscription-app/subscription-service/node_modules